<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>SimpleCRM</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> 
            <mat-icon matBadge="15" 
                      matBadgeColor="green"
                      aria-hidden="false" 
                      aria-label="Example home icon">bubble_chart</mat-icon>
            Accounts 
        </a>

        <mat-form-field width="100%">
            <input matInput placeholder="Input" >
        </mat-form-field>
  
      </div>
    </mat-toolbar-row>
  
    <!--
    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
    -->
  </mat-toolbar>

  <mat-spinner></mat-spinner>
<!--
<div fxFlex="22%"    class="two_one">two_one</div>
<div fxFlex="205px"  class="two_two">two_two</div>
<div fxFlex="30"     class="two_three">two_three</div>


<app-main-layout></app-main-layout>

-->