<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>LACHGAR Omar</mat-card-title>
          <mat-card-subtitle>Dev</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-toolbar>
    <mat-nav-list>
      <button mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>
      <button mat-menu-item routerLink="/schedule">
        <mat-icon>schedule</mat-icon>
        <span matBadge="22" matBadgeColor="accent" matBadgeSize="small" matBadgePosition="below after">Schedule</span>
      </button>
      <button mat-menu-item routerLink="/people">
        <mat-icon>people</mat-icon>
        People
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        About
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" >
      <div>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" matBadge="15" matBadgeColor="warn">
          {{drawer.opened ? 'clear' : 'menu' }}
        </mat-icon>
      </button>
      Trombinoscope
      </div>
      <div>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon matBadge="8" matBadgePosition="before" matBadgeColor="accent">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <button mat-menu-item routerLink="/report-bug">
          <mat-icon>bug_report</mat-icon>
          Report a bug
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/about">
          <mat-icon>info</mat-icon>
          About
        </button>
      </mat-menu>
    </div>
  </div>
    </mat-toolbar>
    <!-- Add Content Here *ngIf="isHandset$ | async"-->
    <!--<app-dashboard></app-dashboard>-->
    <router-outlet></router-outlet>
    <!-- <app-table></app-table>-->
  </mat-sidenav-content>
</mat-sidenav-container>
